
* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {


  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}
a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.field-{{msg.0}}-msg {

}
input {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
  transition-duration: 0.5s;
}

iframe {
  border: none !important;
}
.limiter {
  width: 100%;
  margin: 0 auto;

}

.container{
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
        background-repeat: no-repeat;
  background-image: url("../images/background-sign.jpg");
  background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}

.wrap-login {
  width: 550px;
  height: 600px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
  box-shadow: 0px 0px 4px 0px #bfbfbf;
}

.login-form {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 35px 90px 120px 90px;
}

a{
  text-decoration: none;
}
.form{
  height: 100%;
  width: 100%;
  align-content: center;
}

.login-form-title {
  font-size: 20px;
  color: #172937;
  text-align: center;
  width: 100%;
  display: block;
  padding-top:35px;
}


.wrap-input{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top:40px;

}

textarea{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top:40px;
  background-color:#e6e6e6;
  border-radius: 5px;
  justify-content: center;
  width: 90%;
  height: 100px;
  padding: 42px 0 0 50px;
  outline: none;
  border: none;
}

a.login-btn{
  padding-top: 12px;
}


.wrap-input-2{
  width: 48%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top:50px;
  margin-left: 12px;

}

.wrap-input-3{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top:60px;

}

.wrap-input-3 img{
  position: absolute;
  left:35px;
  top: 15px;
  width: 20px;
}

.wrap-input-4{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 70px;

}

.wrap-input-4 img{
  position: absolute;
  left:35px;
  top: 15px;
  width: 20px;
}

.wrap-input-5{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50px;
  justify-content: center;
}

.wrap-input-5 img{
  position: absolute;
  left: 35px;
  top: 15px;
  width: 20px;
}

.wrap-input-6{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -70px;

}

.wrap-input-6 img{
  position: absolute;
  left:35px;
  top: 80px;
  width: 20px;
}



.wrap-input-2 img{
  position: absolute;
  left:25px;
  top: 15px;
  width: 20px;
}



.wrap-username{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top:-40px;

}
.wrap-input img{
  position: absolute;
  left:35px;
  top: 15px;
  width: 20px;
}
.wrap-username img{
  position: absolute;
  left:35px;
  top: 15px;
  width: 20px;
}
.wrap-password{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top:-70px;

}

.wrap-repassword{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;


}
.wrap-password img{
  position: absolute;
  left:35px;
  top: 14px;
  width: 22px;
}

.wrap-repassword img{
  position: absolute;
  left:35px;
  top: 14px;
  width: 22px;
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -50px;
}

.login100-form-btn {
  background: #ff6600;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  justify-content: center;
  width: 90%;
  height: 50px;
}
input.input {
  background-color:#e6e6e6;
  border-radius: 5px;
  justify-content: center;
  width: 90%;
  height: 50px;
  padding: 0 0 0 50px;
}

.loginhere{
  justify-content: center;
}

.container-register-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 120px;
}

.container-login-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 125px;
}

.login-btn {
  background: #ff6600;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  justify-content: center;
  width: 90%;
  height: 50px;

}

.success{
  font-size: 12px;
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
  top:130px;
}

.register-btn {
  background: #ff6600;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  justify-content: center;
  width: 90%;
  height: 50px;

}


.container-login-btn :hover {
  background: #172937;
}

.register-btn:hover {
  background: #172937;
}

@media (max-width: 992px) {
  .login-form {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .limiter {
  width: 100%;
  margin: 0 auto;
    background-repeat: no-repeat;
  background-image: url("../images/background-sign.jpg");
  background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;

}

}

@media (max-width: 768px) {
  .login-form {
    width: 100%;
  }
  .limiter {
  width: 100%;
  margin: 0 auto;
    background-repeat: no-repeat;
  background-image: url("../images/background-sign.jpg");
  background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;

}

  .image {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .login-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 150px;
  }
  .limiter {
  width: 100%;
  margin: 0 auto;
    background-repeat: no-repeat;
  background-image: url("../images/background-sign.jpg");
  background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;

}

}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}



.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
  .limiter {
  width: 100%;
  margin: 0 auto;
    background-repeat: no-repeat;
  background-image: url("../images/background-sign.jpg");
  background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;

}
}



